body {
    margin: 0;
    padding: 0;
}
.background {
    background-color:  rgb(8, 68, 121);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;  
    
}
.login-card {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: #0a0a0a;
}

.login-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.75rem;
    margin: 0;
    padding: 0;
   
}
.login-logo { 
    margin-top: -30px; 
    width: 150px;
    height: 150px;
    display: block;      
    margin-left: auto;   
    margin-right: auto;
    margin-bottom: 0;    
}
.login-title {
    margin: 0;   
    margin-top: -40px; 
    line-height: 1.1;   
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}
.login-tagline {
    margin-top: 6px;      
    line-height: 1;
    text-align: center;
    font-size:  1rem;
    font-weight: 400;
    color: black;
}

.login-form {
    display:flex;
    flex-direction:column;
    font-size: 0.75rem;
    margin-top: -20px; 
    gap: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;  
}
.input-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}
.login-mail-icon{
    position:absolute;
    left: calc(50% - 160px);
    top:50%;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
}

.login-lock-icon {
    position: absolute;
    right: calc(50% - 160px);
    top:50%;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
}


.login-mail-icon img,
.login-lock-icon img {
    dipalay:block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 18px;
    height: 18px;
}
    

.login-input {
    height: 35px;
    width: 300px;
    border-radius: 10px;
    border: solid 1px #d3d7db;
    padding-left: 40px;
    padding-right: 10px
}
.forget-password{
    display: flex;
    justify-content: flex-start;
    
}
.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 170px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border-radius:100px;
    border: none;
    cursor: pointer;
}
.button-google {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.75rem;
    gap: 10px;
    width: 220px;
    height: 40px;
    background-color: white;
    border-color: #007bff;
    border-radius: 100px;
    border: 2px solid #007bff;
    color: rgb(66, 65, 65);
    cursor: pointer;
    padding: 0 15px;
    
}

.google-icon-img {
    width: 30px;
    height: 30px;
    display: block;
    flex-shrink: 0;
}

.button-google span {
    font-family:sans-serif;
    font-size: 0.75rem;
    margin-left: -5px;
    font-weight: 600;
    color: black;
}
.login-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    
}
.login-footer-link {
    color: #007bff;
    text-decoration: none;
    font-weight: 600;
}


